body { background-image:url("http://4.bp.blogspot.com/-Q6g1zAweofk/VNLoo6gzQjI/AAAAAAAAARk/pS_AMJUWadY/s1600/Galaxy%2BViolet%2BWallpaper%2B2.jpg");
background-size: cover;


}
h1{
  color:white;
}
p{
  color:white;
}
